<body>
  <div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading layer" href="#" ><img class="img-circle" src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/12033226_1124897227560364_1038730242719945949_n.jpg?oh=2dcadc75d8c67cffeb431a39e56fca25&oe=58B8C8D9"><br>Joaquim Jacquemyn</a>

            <nav class="button-group filters-button-group">
    <button class="button" data-filter="*">All</button>
    <button class="button" data-filter=".fotos">Photoshop</button>
    <button class="button" data-filter=".c4d">C4D</button>
    <button class="button" data-filter=".design">Design</button>
  </nav>
        </div>
    </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <h1> Portfolio </h1>
  </div>

  <div class="pure-u-1">
<div class="grid">
  <div class="grid-item c4d">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/14681695_1379312205452197_707526521131288817_n.jpg?oh=44254b46be92e6f26ebc2e8b74910fe8&oe=58A52E4A"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/10959900_908765825840173_5623486721428347278_n.jpg?oh=e9d4708c0e10c745d2dec750ab1d73b1&oe=588B745B"></div>
  <div class="grid-item c4d">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/14705635_1379312172118867_487829181013615748_n.jpg?oh=0850dd735f3a9b302bf2798a8ddddf2d&oe=58C45EC0"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/12491873_1161715237211896_8951377959889687781_o.jpg"></div>
  <div class="grid-item c4d">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/14657313_1379312168785534_4774292227447483020_n.jpg?oh=caac43be85f99e4309f3355060251c74&oe=58AB35F7"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/12525536_1208111005905652_7323308770596988582_o.jpg"></div>
  <div class="grid-item fotos design">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/14612622_1385316314851786_15576050199873521_o.jpg"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/14890313_1385750118141739_5018057353749473940_o.jpg"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/l/t31.0-8/13308438_1256592714390814_4360551528986270697_o.jpg"></div>
  <div class="grid-item design">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/13403186_1267555556627863_5502785522989955345_o.jpg"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/13576787_1280536528663099_4970106015537115349_o.jpg"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/14856188_1385750041475080_1469429229280125122_o.jpg"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/12549002_1164975086885911_7187836783020027663_n.jpg?oh=c0f24c5eed916eaa283d328268de7818&oe=589E21DA"></div>
  <div class="grid-item c4d">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/14720444_1377778835605534_8510335634674897278_n.jpg?oh=8287ebba3d0ab936f47f83f8d82285e2&oe=588B67E9"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/12496271_1161715570545196_6823782380314085924_o.jpg"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-frt3-1.xx.fbcdn.net/t31.0-8/14855910_1385755568141194_6354547402627707785_o.jpg"></div>
  <div class="grid-item c4d">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/t31.0-8/15069036_1406947572688660_8877173893977447509_o.jpg"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/t31.0-8/15272048_1425373447512739_216765280744965236_o.jpg"></div>
  <div class="grid-item design">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/15327344_1425380450845372_1137329899069720658_n.jpg?oh=bf1f7d0d34b2e8bc59cc84cf51ec4a7b&oe=58F2A5F6"></div>
  <div class="grid-item c4d">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/15241988_1425378840845533_7971137406237729532_n.jpg?oh=70b38c0b5e73baabbf5e9597a9c589a2&oe=58F494F0"></div>
  <div class="grid-item c4d fotos">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/15178942_1406947539355330_7919390218497333766_n.jpg?oh=e441d77150af0c0a135f0cde7165516f&oe=58B14BB8"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/t31.0-8/15252688_1425377914178959_650001204495932830_o.jpg"></div>
  <div class="grid-item fotos">
    <img src=" https://scontent-bru2-1.xx.fbcdn.net/t31.0-8/15138593_1406947292688688_5378206397321525341_o.jpg"></div>
  <div class="grid-item design">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/t31.0-8/15156956_1406947196022031_664879762121934428_o.jpg"></div>
   <div class="grid-item fotos design">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t31.0-8/15326237_1425378467512237_3400942926570534483_o.jpg?oh=5400a4940ba707f1a564918f1116d5a7&oe=58C39D52"></div>
   <div class="grid-item c4d">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/15355681_1425379280845489_3670409736549136703_n.jpg?oh=2f1dc60ac412a9465f8ee0af6e457860&oe=58F7FD8B"></div>
  <div class="grid-item design">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/t31.0-8/15123102_1406946616022089_2355219106193266608_o.jpg"></div>
  <div class="grid-item design">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/t31.0-8/15129430_1406946632688754_3693425824092084427_o.jpg"></div>
  <div class="grid-item fotos">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/t31.0-8/15252480_1425385127511571_8130251031927558561_o.jpg"></div>
  <div class="grid-item design">
    <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t31.0-8/15304484_1425386577511426_5337950340731949210_o.jpg?oh=147b212227e3cc2b56325126c576fd29&oe=58B59F36"></div>


</div>
</div>
</div>


</body>
